@{
    ViewData["Title"] = "Accueil";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="title">Condidature</div>
        <div style="margin-top:10px">
            Étape 1  :
        </div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nom <span style="color:red">*</span></span>
                        <input type="text" placeholder="Entrer votre nom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Prénom <span style="color:red">*</span></span>
                        <input type="text" placeholder="Entrer votre prénom" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email <span style="color:red">*</span></span>
                        <input type="text" placeholder="Entrer votre email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Téléphone <span style="color:red">*</span></span>
                        <input type="tel" placeholder="Entrer votre téléphone" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Niveau d'études</span>
                        <select id="NvEtude">
                            <option value="Choisissez votre niveau d'études">Choisissez votre niveau d'études</option>
                            <option value="Bac">Bac</option>
                            <option value="Bac+2">Bac + 2</option>
                            <option value="Bac+3">Bac + 3</option>
                            <option value="Bac+5">Bac + 5</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Nombre d'années d'expérience</span>
                        <input type="number" placeholder="Entrer votre Nombre d'années d'expérience" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Dernier employeur</span>
                        <input type="text" placeholder="Entrer votre dernier employeur" required>
                    </div>
                </div>
                <div style="margin-top:10px">
                    Étape 2 :
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Uploader votre CV</span>
                            <input type="file" class="upload-box">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Suivant">
                </div>
            </form>
        </div>
    </div>
</body>
</html>